<div class="contents row">
  <h3>あたらしい 絵にっきを かく</h3>

  <div class="tweet_content">
    <div class= "user_avatar" style="background-image: url(<%= current_user.avatar %>);">
      <span class= "user_name"> hogehoge</span>
    </div>
    <div class="content_text">
      <div class="text_date">
        <span><%= DateTime.now.to_s(:date) %></span>
      </div>
      <div class="text_body post">
        <%= content_tag :div, "ぼくは", class: "form_type_btn subject", id: "subject_btn"%>
        <%= content_tag :div, "がっこうに", class: "form_type_btn object", id: "object_btn"%>
        <%= content_tag :div, "いった", class: "form_type_btn verb", id: "verb_btn"%>
        <%= content_tag :div, "たのしかった", class: "form_type_btn impression", id: "impression_btn"%>
      </div>
      <div class="content_text__polygon"></div>
    </div>
    <div class= "form_type_btn image content_image", id= "image_btn">
      <h3>あたらしく かいた　絵</h3>
    </div>
  </div>

  <div class= "tweet_forms row">
    <%= form_for(@tweet) do |f|%>
      <% Phrase.phrase_types.each_pair do |phrase_type, phrase_type_id|%>
        <%= f.fields_for :tweet_phrases do |tweet_phrase| %>
          <div class="form_items <%= phrase_type %> row" id= "<%= phrase_type %>_items" >
            <% @phrases.where(phrase_type: phrase_type_id).each do |item| %>
              <%= tweet_phrase.label "phrase_id_#{item.id}", class: "form_item col-md-4 col-sm-6 col-xs-6 thumbnail" do %>
                <%= tweet_phrase.radio_button :phrase_id, item.id, class: "phrase_input"%>
                <%= item.text %>
              <% end %>
            <% end %>
          </div>
        <% end %>
      <% end %>
      <div class="form_items image row" id="image_items">
        <%= fields_for :image do |image| %>
          <% if current_user.newer_images.present? %>
            <% current_user.newer_images.each do |img| %>
              <%= label_tag :image_id, "",for: "image_id_#{img.id}", class: "form_item image col-md-4 col-sm-6 col-xs-6 thumbnail", style: "background-image:url(#{img.image.url})" do %>
                <%= radio_button_tag :image_id, img.id,'', class: "phrase_input"%>
              <% end %>
            <% end %>
          <% else %>
            <div class="alert alert-warning" role="alert">画像が登録されていません！</div>
          <% end %>
        <% end %>
      </div>
      <%= f.submit value: "お友だちにみせよう" %>
    <% end %>
  </div>
</div>

