<div class="contents">
  <div class="container">
    <h3>あたらしい 絵にっきを かく</h3>

    <div class="form_btns row">
      <%= link_to "あたらしく かいた　絵", class: "btn form_type_btn image col-md-12 col-sm-12 col-xs-12 ", id: "image_btn", remote: true do %>
        <%= content_tag(:div, class: "image_thumbnail thumbnail", id: "image") do%>
          <h3>あたらしく かいた　絵</h3>
        <% end %>
      <% end %>
      <div class="phrase_type_btns row">
        <% Phrase.phrase_types.each_key do |form_type|%>
          <%= content_tag :a, form_type, class: "btn form_type_btn #{form_type} col-3", id: "#{form_type}_btn", remote: true%>
        <% end %>
      </div>
    </div>

    <div class= "tweet_forms row">
      <%= form_for(@tweet) do |f|%>
        <% Phrase.phrase_types.each_pair do |phrase_type, phrase_type_id|%>
          <%= f.fields_for :tweet_phrases do |tweet_phrase| %>
            <div class="form_items <%= phrase_type %> row" id= "<%= phrase_type %>_items" >
              <% @phrases.where(phrase_type: phrase_type_id).each do |item| %>
                <%= tweet_phrase.label "phrase_id_#{item.id}", class: "form_item col-md-4 col-sm-6 col-xs-6 thumbnail" do %>
                  <%= tweet_phrase.radio_button :phrase_id, item.id, class: "phrase_input"%>
                  <%= item.text %>
                <% end %>
              <% end %>
            </div>
          <% end %>
        <% end %>
        <div class="form_items image row" id="image_items">
          <%= fields_for :image do |image| %>
            <% current_user.images.each do |img| %>
              <%= label_tag :image_id, "",for: "image_id_#{img.id}", class: "form_item image col-md-4 col-sm-6 col-xs-6 thumbnail", style: "background-image:url(#{img.image.url})" do %>
                <%= radio_button_tag :image_id, img.id,'', class: "phrase_input"%>
              <% end %>
            <% end %>
          <% end %>
        </div>
        <%= f.submit value: "お友だちにみせよう" %>
      <% end %>
    </div>

  </div>
</div>

