<div class="contents">
  <div class="container">
    <h3>あたらしい 絵にっきを かく</h3>

    <div class="form_btns row">
      <%= link_to "あたらしく かいた　絵", class: "btn form_type_btn image", id: "image_btn", remote: true do %>
        <%= image_tag "", alt: "あたらしく描いた絵", id: "image_btn_thumbnail"%>
      <% end %>
      <div class="phrase_type_btns row">
        <% Phrase.phrase_types.each_key do |form_type|%>
          <%= content_tag :a, form_type, class: "btn form_type_btn #{form_type} col-3", id: "#{form_type}_btn", remote: true%>
        <% end %>
      </div>
    </div>

    <%= form_for(@tweet) do |f|%>
      <div class= "tweet_forms row">
        <% Phrase.phrase_types.each_pair do |phrase_type, phrase_type_id|%>
          <%= f.fields_for :tweet_phrases do |tweet_phrase| %>
            <div class="form_items <%= phrase_type %>" id= "<%= phrase_type %>_items" >
              <% @phrases.where(phrase_type: phrase_type_id).each do |item| %>
                <div class= "form_item col-md-3 col-md-offset-1  col-sm-5 col-sm-offset-1 col-xs-5 col-xs-offset-1 ">
                  <%= tweet_phrase.label "phrase_id_#{item.id}" do %>
                    <%= tweet_phrase.radio_button :phrase_id, item.id, class: "phrase_input"%>
                    <%= item.text %>
                  <% end %>
                </div>
              <% end %>
            </div>
          <% end %>
        <% end %>
        <div class="form_items image row" id="image_items">
          <%= fields_for :image do |image| %>
            <% current_user.images.each do |img| %>
              <div class="form_item image col-sm-6 col-md-4 thumbnail" id="image">
                <%= label_tag :image_id, "hoge",for: "image_id_#{img.id}"%>
                <%= radio_button_tag :image_id, img.id,'', class: "phrase_input"%>
              </div>
            <% end %>
          <% end %>
        </div>
        <%= f.submit value: "お友だちにみせよう" %>
      </div>
    <% end %>

  </div>
</div>

