<div class="contents row">
  <div class="container">
    <%= form_for(@tweet) do |f|%>
      <div class="tweet_forms">
        <h3>
          あたらしい 絵にっきを かく
        </h3>
        <div class= "tweet_forms row">
          <div class="form_btns row">
            <%= link_to "あたらしく かいた　絵", class: "btn form_type_btn image", id: "image_btn", remote: true do %>
              <%= image_tag "", alt: "あたらしく描いた絵", id: "image_btn_thumbnail"%>
            <% end %>
            <div class="phrase_type_btns">
              <% Phrase.phrase_types.each_key do |form_type|%>
                <%= content_tag :a, form_type, class: "btn form_type_btn #{form_type}", id: "#{form_type}_btn", remote: true%>
              <% end %>
            </div>
          </div>
          <% Phrase.phrase_types.each_pair do |phrase_type, phrase_type_id|%>
            <%= f.fields_for :tweet_phrases do |tweet_phrase| %>
              <div class="form_items <%= phrase_type %>" id= "<%= phrase_type %>_items" >
                <% @phrases.where(phrase_type: phrase_type_id).each do |item| %>
                  <div class= "form_item">
                    <%= tweet_phrase.label "phrase_id_#{item.id}" do %>
                      <%= tweet_phrase.radio_button :phrase_id, item.id, class: "phrase_input"%>
                      <%= item.text %>
                    <% end %>
                  </div>
                <% end %>
              </div>
            <% end %>
          <% end %>
          <div class="form_items image" id="image_items">
            <%= fields_for :image do |image| %>
              <% current_user.images.each do |img| %>
                <div class="form_item image" id="image">
                  <%= label_tag :image_id, image_tag(img.image, class: "image_item"), for: "image_id_#{img.id}"%>
                  <%= radio_button_tag :image_id, img.id,'', class: "phrase_input"%>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
      <%= f.submit value: "お友だちにみせよう" %>
    <% end %>
  </div>
</div>

