<div class="contents row">
  <div class="container">
    <%= form_for(@tweet) do |f|%>
      <div class="tweet_forms">
        <h3>
          あたらしい 絵にっきを かく
        </h3>
        <%= content_tag :a, "あたらしく かいた　絵", class: "btn phrase_type_btn", id: "image", remote: true%>
        <div class= "phrase_forms">
          <% Phrase.phrase_types.each_key do |phrase_type|%>
            <%= content_tag :a, phrase_type, class: "btn phrase_type_btn", id: "#{phrase_type}", remote: true%>
          <% end %>
          <% Phrase.phrase_types.each_pair do |phrase_type, phrase_type_id|%>
            <%= f.fields_for :tweet_phrases do |tweet_phrase| %>
              <div class="phrase_items" id= "<%= phrase_type %>" >
                <% @phrases.where(phrase_type: phrase_type_id).each do |item| %>
                  <div class= "phrase_item">
                    <%= tweet_phrase.label "phrase_id_#{item.id}" do %>
                      <%= tweet_phrase.radio_button :phrase_id, item.id, class: "phrase_input"%>
                      <%= item.text %>
                    <% end %>
                  </div>
                <% end %>
              </div>
            <% end %>
          <% end %>
          <%= fields_for :image do |image| %>
            <% current_user.images.each do |img| %>
              <%= label_tag :image_id, image_tag(img.image), for: "image_id_#{img.id}"%>
              <%= radio_button_tag :image_id, img.id%>
            <% end %>
          <% end %>
        </div>
      </div>
      <%= f.submit value: "お友だちにみせよう" %>
    <% end %>
  </div>
</div>

