<div class="contents row">
  <div class="container">
    <%= form_for(@tweet) do |f|%>
      <div class="tweet_forms">
        <h3>
          あたらしい 絵にっきを かく
        </h3>
        <%= f.text_field :image, placeholder: "あたらしく　かいた　絵(のURL)", autofocus: "true" %>
        <% Phrase.phrase_types.each_pair do |phrase_type, phrase_type_id|%>
          <%= f.fields_for :tweet_phrases do |tweet_phrase| %>
            <%= content_tag :a, phrase_type, class: "btn phrase_type_btn"%>
            <div class="phrase_items">
              <% @phrases.where(phrase_type: phrase_type_id).each do |item| %>
                <div id= <%= item.phrase_type %> >
                  <%= tweet_phrase.label "phrase_id_#{item.id}" do %>
                    <%= tweet_phrase.radio_button :phrase_id, item.id%>
                    <%= item.text %>
                  <% end %>
                </div>
              <% end %>
            </div>
          <% end %>
        <% end %>
      </div>
      <%= f.submit value: "お友だちにみせよう" %>
    <% end %>
  </div>
</div>

