<div class="contents row">
  <div class="container">
    <%= form_for(@tweet) do |f|%>
      <h3>
        あたらしい 絵にっきを かく
      </h3>
      <%= f.text_field :image, placeholder: "あたらしく　かいた　絵(のURL)", autofocus: "true" %>
      
      <%= f.fields_for :tweet_phrase do |tweet_phrase| %>
        <%= tweet_phrase.select :subject_id , @phrases.subject.map{|p| [p.text, p.id]}, value: "subject" %>
      <% end %>
      <%= f.fields_for :tweet_phrase do |tweet_phrase| %>
        <%= tweet_phrase.select :object_id , @phrases.object.map{|p| [p.text, p.id]}, value: "object" %>
      <% end %>
      <%= f.fields_for :tweet_phrase do |tweet_phrase| %>
        <%= tweet_phrase.select :verb_id , @phrases.verb.map{|p| [p.text, p.id]}, value: "verb" %>
      <% end %>
      <%= f.fields_for :tweet_phrase do |tweet_phrase| %>
        <%= tweet_phrase.select :impression_id , @phrases.impression.map{|p| [p.text, p.id]}, value: "impression" %>
      <% end %>


      <%= f.submit value: "お友だちにみせよう" %>
    <% end %>
  </div>
</div>
