<div class="contents row">
    <h3 class="welcome_title">
      なつの絵にっき
    </h3>

    <%#= 親御様用ページへの隠しボタン %>
      <ul class="hide_btn">
        <li> <a><%= current_user.nickname %></a>
          <ul class="second">
            <li><a href="/parents/:id">親御様用ページへ</a>
            </li>
          </ul>
        </li>
      </ul>
          
    <%= image_tag("oekaki.png") %>
  <div >
    <% if user_signed_in? %>
    <a class="welcome_btn">
      <a class="welcome_btn_item" href="/tweets/new">絵にっきをかく</a>
      <a class="welcome_btn_item" href="/tweets">みんなの絵にっきを見る</a>
      <a class="welcome_btn_item" href="/tweets/:id"><%= current_user.nickname %>の絵にっきを見る</a>
    </a>
    <% else %>
      <%= link_to "ログイン", new_user_session_path, class: 'post', class: 'btn'%>
      <%= link_to "新規登録", new_user_registration_path, class: 'post', class: 'btn'%>
    <% end %>
  </div>
</div>