<div class="contents row">
  <%#= 親御様用ページへの隠しボタン %>
  <ul class="hide_btn">
    <li> <a><%= current_user.nickname %></a>
      <ul class="second">
        <li><%= link_to "保護者用ページへ", parent_path(current_user) %>
        </li>
      </ul>
    </li>
  </ul>
  <%= image_tag("oekaki.png", class: "welcome_image") %>  
  <div>
    <% if user_signed_in? %>
      <a class="welcome_btn">
        <%= link_to "絵にっきをかく", new_tweet_path(current_user), class: 'welcome_btn_item' %>
        <%= link_to "みんなの絵にっきを見る", tweets_path(current_user), class: 'welcome_btn_item' %>
        <%= link_to "#{current_user.nickname}の絵にっきを見る", user_path(current_user), class: 'welcome_btn_item' %>
      </a>
    <% else %>
      <%= link_to "ログイン", new_user_session_path, class: 'post', class: 'btn'%>
      <%= link_to "新規登録", new_user_registration_path, class: 'post', class: 'btn'%>
    <% end %>
  </div>
</div>