<div class="contents row">

  <div class="success">
    <h3>
      親御様用ページ
    </h3>
    <a class="btn" href="/">お子様用トップページへ</a>
    <% if user_signed_in? %>
      <a class="btn" href="/users/edit">アカウント情報編集</a>
      <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
    <% else %>
      <%= link_to "ログイン", new_user_session_path, class: 'post' %>
      <%= link_to "新規登録", new_user_registration_path, class: 'post' %>
    <% end %>
  </div>

  <div class="success">
    <h3>
      アバター画像
    </h3>
    <%= image_tag(@user.avatar) %>
  </div>

  <div class="success">
    <h3>
      お子様の絵の画像をアップロードしてください
    </h3>    
    <%= form_for :image do |f| %>
      <%= f.file_field :image %>
      <%= f.submit %>
    <% end %>

  </div>
</div>
