<!DOCTYPE html>
<html>
  <head>
    <title>なつの絵にっき</title>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <script type="text/javascript">
      WebFontConfig = {
        google: { families: [ 'Unica+One::latin' ] }
      };
      (function() {
        var wf = document.createElement('script');
        wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
          '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
        wf.type = 'text/javascript';
        wf.async = 'true';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(wf, s);
      })();
    </script>
  </head>

  <body>

    <header class="header">
      <div class="header__bar row">
        <h1 class="grid-6">
          <%= link_to root_path do %>
            <%= image_tag("logo.png", class: "header_logo")  %>
          <% end %>
        </h1>
        <div class="user_nav grid-6">
          <% if user_signed_in? %>
            <span id="header_user"><%= current_user.nickname %>
              <ul class="user__info">
                <li>
                  <%= link_to "絵にっきをかく", new_tweet_path(current_user) %>
                  <%= link_to "みんなの絵にっきを見る", tweets_path(current_user) %>
                  <%= link_to "#{current_user.nickname}の絵にっきを見る", user_path(current_user) %>
                  <%= link_to "保護者用ページへ", parent_path(current_user), id: "parent_btn" %>
                </li>
              </ul>
            </span>
          <% end %>
        </div>
      </div>
    </header>
    <%= yield %>
    <footer><p>Copyright 2018 Team Enikki All Rights Reserved.</p></footer>
  </body>
</html>
